### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free TiDB Serverless database: https://tidbcloud.com
# If you're deploying this template with a Vercel Deploy Button, you can configure easily within Vercel integrations.
DATABASE_URL=

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
# `openssl rand -base64 32`
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000